body {
    margin: 0;
}

.page {

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.header-links {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.main-panel-section {
    display: flex;
    align-items: center;
}

.left-col {
    display: flex;
    flex-direction: column;
}

/* Information section */

.information-section {
    display: flex;
    flex-direction: column;
}

.information-heading {
    margin: auto
}

.information-panels {
    display: flex;
}

/* Quotes section */

.quotes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 100px auto;
}

.quote-author {
    margin-top: 10px;
    margin-left: auto;
}

.sign-up-section {
    margin: 40px;
}

.sign-up-section * {
    margin: 0;
}

.sign-up-box {
    padding: 20px;
    display: flex;
}

.sign-up-box-left-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sign-up-box-right-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    text-align: center;
}






